.pixel-content {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.pixel-content img {
    max-width: 300px;
    min-height: 300px;
}
.pixel-text h2 {
    color: rgb(71, 71, 71);

}
.pixel-text {
    max-width:500px ;
}
.pixel-text button {
    border: none;
    border-radius: 10px;
    background-color:rgba(76, 175, 79, 1);
    color: white;
    padding: 10px 10px 10px 10px;
}